/*!
Theme Name: gphoebe
Theme URI: https://portal.gphoebe.com/
Author: Geeeeks
Author URI: https://geeeeks.com/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: gphoebe
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

gphoebe is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import 'css/bootstrap.min.css';
@import "css/material-icon.css";
@import 'css/font-awesome.min.css';
/*@import 'css/material.min.css';*/
@import 'css/material-dashboard.css';
@import 'css/demo.css';
@import 'css/style.css';
body{font-family:"Source Sans Pro", sans-serif;background:#FFFFFF;color:#212121;}
header{background-color:#212121;}
p{font-weight:lighter;}
.navbar a:link,
.navbar a:visited,
.navbar a:active{color:#B6B6B6;text-decoration:none;}
.navbar a:hover{color:#FFFFFF;}
.menu .active > a:hover,
.menu .active > a:active,
.menu .active > a:focus,
.menu .active > a{color:#FFFFFF;outline:0 none;text-decoration:none;}
.navbar{margin-bottom:0px;border-radius:0px;}
.navbar-toggle{color:#B6B6B6;}
.navbar-toggle:hover{color:#FFFFFF;}
.navbar-nav li>a:focus,
.navbar-nav li>a:hover{background-color:#212121;color:#FFFFFF;}
.splash-image{background:#323232 url('./images/splash.jpg');background-repeat:no-repeat;background-size:cover;padding:100px 0 100px 0;}
.splash-image h1{font-size:2.5em;color:#fff;}
.splash-image h4{font-size:1.5em;font-weight:lighter;color:#CCCCCC;}
h3.heading{margin:1em 0 .5em 0;color:#B6B6B6;font-size:0.8em;text-transform:uppercase;}
div.feature{margin:1.5em 0 1.5em 0;}
h4.feature-title{color:#212121;font-weight:normal;font-size:1.8em;}
p.feature-content{}
.featured-block{padding:1em;min-height:100px;border-radius:6px;letter-spacing:-.5px;line-height:1.2em;margin:0 0 1em 0;border:1px solid #B3E5FC;}
div.featured-block:hover{border:1px solid #03A9F4;}
.featured-block a:hover{text-decoration:none;}
.featured-block img.thumb{}
.featured-block p.title{color:#727272;font-weight:100;margin:0;}
.featured-block p.username{color:#727272;margin:0 0 0.8em 0;font-weight:100;font-size:smaller;}
.featured-block p.price{font-weight:normal;font-size:2em;}
.pagination{margin:0 0 5px 0;}
.panel-footer{padding:10px 15px 0;}
.margin-top-15{margin-top:15px;}
.margin-left-15{margin-left:15px;}
#scoreSlide,#followsSlide{margin-top:30px;}
.range-markers{width:100%;}
.range-markers .lower,.range-markers .upper{background:#ebebeb none repeat scroll 0 0;border:1px solid #e2e2e2;border-radius:5px;float:left;padding:0 3px;}
#ajax-back{position:fixed;margin:0;background:grey;opacity:0.5;height:100%;width:100%;left:0;top:0;}
.range-markers .upper{float:right;}
.shoutout-info{padding:1em;letter-spacing:-.5px;margin:0 0 1em 0;}
.cart-image{width:25px;height:25px;}
.order-form small{font-size:70%;}
.order-form p{line-height:.8em;}
.invoice-image{width:100px;height:100px;}
.hide{display:none;}
.collapsible{cursor:pointer;}
.copyright{border-top:1px solid #ddd;margin-top:20px;padding-top:20px;color:#CCC;font-weight:lighter;}
.copyright a{color:#8e8e8e;}
.dis-link {
    pointer-events: none;
}